
<div class="container mt-4">

  <h2>Carrello</h2>
  <ol class="list-group list-group-numbered">
    <li routerLinkActive="active" class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let prod of prodottiNelCarrello; let i = index">
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{prod.name}}</div>
        € {{prod.price}}
      </div>
     <span class="btn btn-primary my-auto" (click)="rimuoviProdotto(i)">Rimuovi dal carrello</span>
    </li>

  </ol>

  <div class="mt-2"> <span class=""> Tot. </span> <span>€ {{totaleCarrello}}</span> </div>


  <hr>

  <div class="card p-4 m-5" style="background-color: rgba(158, 255, 255, 0.295);">

    <h2>Effettua il login e completa l'ordine</h2>

    <div class="row">

      <div class="col-6">
        <form #form="ngForm" (ngSubmit)="login(form)">

          <div class="form-group">
            <label for="nome">Nome</label>
            <input id="nome" required name="nome" ngModel class="form-control" type="text" #name="ngModel" />

            <div *ngIf="name.invalid && name.touched" class="alert alert-danger mt-1" role="alert">
              Campo obbligatorio
            </div>

            <div class="form-group">
              <label for="cognome"> Cognome </label>
              <input id="cognome" required name="cognome" ngModel class="form-control" type="text"
                #cognome="ngModel" />
            </div>

            <div *ngIf="cognome.invalid && cognome.touched" class="alert alert-danger mt-1" role="alert">
              Campo obbligatorio
            </div>


              <div class="col-12">
                <button type="submit" [disabled]="form.invalid || !prodottiNelCarrello.length" class="btn btn-primary mt-4">
                  Submit
                </button>
              </div>

              <div *ngIf="!prodottiNelCarrello" class="alert alert-primary mt-3" role="alert">
                Il tuo carrello è vuoto
              </div>

            </div>

        </form>
      </div>
    </div>
  </div>


</div>

